<!DOCTYPE html>
<html>

{% include head.html %}

<body>

    {% include header.html %}

    <h1>{{ page.name }}</h1>

    <div class="info">
	    <span class="image main profile">
			<img src="../images/headshots/{{ page.image }}" alt="" />
		</span>

		<div class="table-wrapper">
			<table>
				<tbody>
					<tr>
					<td><b>University</b></td>
					<td>{{ page.school }}</td>
					</tr>

					<tr>
					<td><b>Major</b></td>
					<td>{{ page.major }}</td>
					</tr>

					<tr>
					<td><b>Project</b></td>
					<td>{{ page.project }}</td>
					</tr>

					<tr>
					<td><b>Contact</b></td>
					<td>{{ page.email }}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

    {{ content }}

	<a href="{{ 'index.html' | relative_url }}" class="button">Home</a>
	<br>

    {% include footer.html %}

</body>

</html>